.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 5;
}
.form-container {
    position: absolute;
    top: 10px;
    left: 0;
    color: #FFF;
    margin: .32rem .44rem;
    border: .5rem solid #FFF;
    border-radius: 1rem;
    z-index: -1;
    background-color: #201B2C;
}

.form-container h2 {
    margin-left: 1rem;
}


.form-control {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.form-container input, select {
    padding: .5rem .425rem;
    border-radius: .5rem;
    width: 19rem;
    margin-left: 1rem;
    margin-right: .5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
}

.form-container input::placeholder {
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input[type=submit] {
    text-align: center;
    width: 8rem;
}

.form-container input[type=button] {
    width: 8rem;
    text-align: center;
}

.form-container input[type=reset] {
    width: 8rem;
    text-align: center;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container label {
    font-weight: bold;
    margin-left: 1rem;
}

select:nth-child(2) {
    font-size: 1em;
    font-weight: bold;
}

button {
    cursor: pointer;
}

.openAddress {
    cursor: pointer;
}

@media only screen and (min-width: 576px) {
    .form-container input {
        padding: .5rem .425rem;
        border-radius: .5rem;
        width: 31rem;
        margin-left: 1.5rem;
        margin-right: .5rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: blue;
    }
}

@media only screen and (min-width: 768px) {
    .form-container {
        top: 10px;
        left: 90px;
    }
}

@media only screen and (min-width: 992px) {
    .form-container {
        top: 10px;
        left: 220px;
    }
  }

  @media only screen and (min-width: 1200px) {
    .form-container {
        top: 10px;
        left: 320px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .form-container {
        top: 100px;
        left: 420px;
    }
  }

  @media only screen and (min-width: 1401px) {
    .form-container {
        top: 100px;
        left: 673px;
    }
  }